* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --bg-boxs-color: rgba(31,15,58,0.3); 
  --social-hover: #202020;
  --switch-bg-url: url(./assets/moon-stars.svg);
  --button-hover: rgb(161, 161, 161,0.5);
}

.light{
  --bg-boxs-color: rgb(169, 132, 206,0.3);
  --text-color: black;
  --bg-url: --bg-url: url(./assets/bg-mobile-light.jpg);
  --social-hover: #b6b6b6;
  --switch-bg-url: url(./assets/sun.svg);
  --button-hover: rgb(95, 94, 94,0.5);
}
body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color)

}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
/* Profile section */
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}
#profile p {
  font-weight: 600;
  line-height: 24px;
  margin-top: 8px;
}
/*Switch Button */
#switch {
  position: relative;
  width: 64px;
  margin: 0 auto;
}
#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: slide-back .2s;
}

#switch span{
  display: block;
  width: 63px;
  height: 24px;
  background: var(--social-hover);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 9999px;
  border: 1px solid var(--text-color)
  
}

.light #switch button{
  animation : slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 4px solid var(--button-hover);
}



/* Listas de links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--bg-boxs-color);
  backdrop-filter: blur(15px);
  box-shadow: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.5s;
  
}


ul li a:hover {
background: #602cb9;
filter:none;
transform: scale(1.1);
-ms-transform: scale(1.1);
-webkit-transform: (1.1);
}
ul li a ::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%);
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
ul li a:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(circle farthest-corner at 10% 20%,rgba(255, 94, 247, 1) 17.8%,rgba(2, 245, 255, 1) 100.2%);
  transition: 0.3s;
}

/* Redes sociais */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
  
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: 0.2s;
}

#social-links a:hover{
background: var(--social-hover);
padding: 16px;
border-radius: 50%;
}

/* Rodapé */
footer{
  padding: 24px;
  text-align: center;
}

footer a{ 
  text-decoration: none;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg)
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg)
  }
}

/* Animação switch button */
@keyframes slide-in {
  from {
    left: 0;
  }
  to{
    left: 50%;
  }

}

@keyframes slide-back {
  from{
    left:50%;
  }
  to{
    left: 0;
  }
}